<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <img src="<%= asset_path('avatars/logo_koperasi.png') %>" alt="Logo Koperasi" width="50" height="50">
  
      <span class="demo menu-text fw-bolder ms-2">Koperasi Hiswana Migas</span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <%= link_to root_path, class: 'menu-link' do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      <% end %>

    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Master</span>
    </li>
    <li class="menu-item">
      <%= link_to employee_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="Account Settings">Employee Data</div>
      <% end %>

    </li>
    <li class="menu-item">
      <%= link_to criteria_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="Account Settings">Criteria Data</div>
      <% end %>

    </li>
    <li class="menu-item">
      <%= link_to preference_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="Account Settings">Preference Data</div>
      <% end %>

    </li>
    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Generate Ranking</span></li>
    <!-- Cards -->
    <li class="menu-item">
      <%= link_to '/ranking', class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Create Data</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to '/ranking_data', class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Data Source</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to '/ranking/data/normalisasi', class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Normalisasi Data</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to '/ranking/data/bobot', class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Normalisasi Bobot</div>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to '/ranking/data/akhir', class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Hasil Akhir</div>
      <% end %>
    </li>

    <li class="menu-item">
      <%= button_to  destroy_user_session_path, method: :delete, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Logout</div>
      <% end %>
    </li>


  </ul>
</aside>
<!-- / Menu -->
