<!DOCTYPE html>
<html>
  <head>
    <title>AplikasiSpk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> <%# file css %> 
    <%= stylesheet_link_tag "application", 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag "core", 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag "theme-default", 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag "demo", 'data-turbolinks-track': 'reload'%> 
    <%= stylesheet_link_tag "boxicons", 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag "perfect-scrollbar", 'data-turbolinks-track': 'reload'%>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "helpers.js" %> 
    <%= javascript_include_tag "config.js" %> 
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%= render 'partials/sidebar' %> <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag "jquery.js" %> 
  <%= javascript_include_tag "popper.js" %> 
  <%= javascript_include_tag "bootstrap.js" %> 
  <%= javascript_include_tag "menu.js" %> 
  <%= javascript_include_tag "main.js" %>
  <%= javascript_include_tag "perfect-scrollbar.js" %>
   
</html>
